.link {
  color: rgb(96, 155, 233) !important;
  text-decoration: none !important;
}
.link:hover {
  color: rgb(35, 122, 235) !important;
  text-decoration: underline !important;
  cursor: pointer;
}
